name: Test

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
    
    - name: Install Playwright browsers
      run: |
        mvn dependency:get -Dartifact=com.microsoft.playwright:playwright:1.41.2
        java -cp $(echo ~/.m2/repository/com/microsoft/playwright/playwright/1.41.2/playwright-1.41.2.jar) com.microsoft.playwright.CLI install
    
    - name: Run tests
      run: mvn clean test